html,
body {
  scrollbar-width: none;
  /* Firefox */
  overflow: hidden;
  height: 100%;
  -ms-overflow-style: none;
  /* IE and Edge */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}

body {
  margin: 0;
  padding: 0;
  font-family: "Gochi Hand", sans-serif;
}

scroll-space {
  height: 500vh;
}