html,
body {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}

body {
  margin: 0;
  padding: 0;
  font-family: "Gochi Hand", sans-serif;
  background: #F9EBD7;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F9EBD7;
  height: 1000px;
  gap: 10px;
  /* opacity: 0; */
  /* hidden initially */
}

.lane {
  padding: 30px;
  border: 10px beige;
  display: flex;
  gap: 10px;
}